/* Layer 0  (Local)*/

.song {
    z-index: 0;
    contain: strict;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 1 100vw;
    min-width: 400px;
    height: 100vh;
    overflow: hidden;
}


/* Layer -1 (Global) */

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100vw;
    height: 100vh;
}


/* Layer 0 */

.thumbnail {
    z-index: 0;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    transform: scale(0);
}

.metadata {
    display: block;
}

.title,
.artist {
    color: white;
    font-weight: bold;
    text-shadow: 1px 0px 2px black;
    text-align: center;
}

.artist {
    font-weight: 400;
    color: rgba(255, 255, 255, .7);
}


/* Layer -1 */

.bg {
    will-change: transform, opacity;
    z-index: -1;
    position: absolute;
    overflow: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: scale(1);
}